.movable-piece-static {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 100;
  cursor: grab;
}

.movable-piece-static:active {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 100;
  cursor: grabbing;
}

.movable-piece-floating {
  position: fixed;
  height: 4vw;
  width: 4vw;
  z-index: 101;
  pointer-events: none;
}
