.board-sidebar {
  position: relative;
  left: -2vw;
  z-index: -10;
  border-top-right-radius: 1.3vw;
  border-bottom-right-radius: 1.3vw;
  height: 40vw;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
