.board-sidebar {
  position: relative;
  left: -2vw;
  z-index: -10;
  height: 40vw;
  width: 20vw;
  background-color: white;
  border-top-right-radius: 1.3vw;
  border-bottom-right-radius: 1.3vw;
}
