.board-sidebar {
  position: relative;
  left: -2vw;
  padding-left: 2vw;
  z-index: 0;
  border-top-right-radius: 1.3vw;
  border-bottom-right-radius: 1.3vw;
  height: 20vw;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.15s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.board-sidebar-spacer {
  position: relative;
  right: -2vw;
  z-index: -10;
  height: 20vw;
  width: 20vw;
}

