.movable-piece {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  cursor: grab;
}

.movable-piece:active {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  cursor: grabbing;
}
