.piece-wrapper-outer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.piece-wrapper-outer:active {
  position: absolute;
  height: 100%;
  width: 100%;
}

.piece-wrapper-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.piece-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vw;
  width: 4vw;
  background-size: cover;
}
