.promotion-squares-wrapper {
  position: absolute;
  height: 20vw;
  width: 5vw;
  z-index: 110;
}

.promotion-squares-wrapper-top {
  position: relative;
  height: inherit;
  width: inherit;
}

.promotion-squares-wrapper-bottom {
  position: relative;
  top: -15vw;
  height: inherit;
  width: inherit;
}

.promotion-square-wrapper {
  position: relative;
  height: 5vw;
  width: 5vw;
  transition: 0.1s;
}

.promotion-square-wrapper:hover {
  position: relative;
  height: 5vw;
  width: 5vw;
  transform: scale(1.1);
  transition: 0.1s;
}

.promotion-square-wrapper:active {
  position: relative;
  height: 5vw;
  width: 5vw;
  transform: scale(0.95);
  transition: 0.1s;
}
