.square-wrapper {
  position: relative;
  height: 5vw;
  width: 5vw;
  z-index: 1;
}

.square-svg {
  position: absolute;
}

.square-highlight-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
