.square-wrapper {
  position: relative;
  height: 5vw;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-svg {
  position: absolute;
}

.square-highlight-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-containing-piece {
  height: 4vw;
  width: 4vw;
  background-color: red;
  display: flex;
}

.square-ui-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
