.board-sidebar-game-active {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: end;
  background-color: inherit;
  border-radius: inherit;
}

.sidebar-game-active-body {
  height: 75%;
}

.sidebar-game-active-captured-piece-row {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-game-active-captured-piece {
  height: 2vw;
  width: 2vw;
}

.sidebar-game-active-username-row {
  padding-left: 0.5rem;
}

.is-my-turn {
  font-weight: bold;
  color: #6465FA;
}
