.position-generator {
  width: 100%;
  display: flex;
}

.position-generator-center-column {
  display: flex;
  flex: 5;
  flex-grow: 1;
}

.position-generator-left-column {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.position-generator-right-column {
  display: flex;
  flex: 1;
}

.position-generator-textarea {
  height: 50%;
  width: 50%;
}
